.pdf-zoom-box{
    -fx-background-color: #e7e8ec;
    -fx-border-color: #e7e8ec;
    -fx-background-insets: 0;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 0;
}

.pdf-zoom-box .button{
    -fx-background-insets: 0;
    -fx-background-color: #e7e8ec;
    -fx-padding: 0;
    -fx-font-size: 13;
}
.pdf-zoom-box .button:hover{
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-cursor: hand;
}

.pdf-zoom-box .button .text-field{
    -fx-background-color: transparent;
    -fx-max-height: 20;
    -fx-min-height: 20;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-font-size: 14;
    -fx-alignment: center;
    -fx-border-width: 1;
    -fx-text-fill: #636467;
    -fx-padding: 2;
}

.pdf-zoom-box .menu-button .context-menu{
    -fx-min-width: 178;
    -fx-background-insets: 0;
    -fx-padding: 8 0 0 0;
    -fx-border-color: #eaeef8;
    -fx-border-radius: 0 0 3 3;
    -fx-background-radius: 0 0 3 3;
    -fx-border-width: 0 1 1 1;
    -fx-background-color: #fcfdfe;
}

.pdf-zoom-box .menu-button .context-menu .menu-item{
    -fx-background-color: #fcfdfe;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-padding: 6;
}
.pdf-zoom-box .menu-button .context-menu .menu-item .label{
    -fx-text-fill: #636467;
    -fx-font-size: 13;
}


.pdf-zoom-box .menu-button .context-menu .menu-item:hover,
.pdf-zoom-box .menu-button .context-menu .menu-item:focused{
    -fx-background-color: #3498DB;
    -fx-cursor: hand;
}

.pdf-zoom-box .menu-button .context-menu .menu-item:hover .label,
.pdf-zoom-box .menu-button .context-menu .menu-item:focused .label{
    -fx-text-fill: #ffffff;
}

.pdf-zoom-box .menu-button .context-menu .menu-item:hover .pdf-zoom-svg-icon,
.pdf-zoom-box .menu-button .context-menu .menu-item:focused .pdf-zoom-svg-icon{
    -fx-fill: #ffffff;
}



.pdf-zoom-box .button{
    -fx-background-color: #e7e8ec;
    -fx-background-insets: 0;
    -fx-max-height: 20;
    -fx-pref-height: 20;
    -fx-padding: 3;
    -fx-min-width: 40;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
    -fx-cursor: hand;
}

.pdf-zoom-box .button:hover{
    -fx-cursor: hand;
}

.pdf-zoom-svg-icon{
    -fx-fill: #7e7e80;
}